[submodule "ltr/external/PreciseRoIPooling"]
	path = ltr/external/PreciseRoIPooling
	url = https://github.com/vacancy/PreciseRoIPooling.git
[submodule "trtr"]
	path = trtr
	url = https://github.com/tongtybj/detr.git
